.json-viewer::-webkit-scrollbar {
  width: 6px; /* Make it thinner */
  height: 6px; /* Make it shorter */
}

.json-viewer::-webkit-scrollbar-track {
  background: transparent; /* Dark mode color */
}

.json-viewer::-webkit-scrollbar-thumb {
  background: #2f2f2f; /* Dark mode color */
  border-radius: 10px; /* Rounded corners */
}

.json-viewer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.json-viewer::-webkit-scrollbar-corner {
  background: transparent;
}

.json-viewer > .react-monaco-editor-container {
  width: 100%;
}

.json-viewer {
  width: 100%;
  height: 100%;
}
